<ion-header>
  <ion-toolbar color="reservation">
    <ion-buttons slot="start" (click)="backPage()">
			<ion-icon name="chevron-back-outline"></ion-icon>
		</ion-buttons>
    <ion-title>Cambia Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form (submit)="UpdatePassword()">
  
    <ion-list>

      

      <ion-item>
        <ion-label floating>Vecchia Password</ion-label>
        <ion-input type="password" [(ngModel)]="userDetails.oldPassword" name="oldPassword"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Nuova Password</ion-label>
        <ion-input type="password" [(ngModel)]="userDetails.newPassword" name="newPassword"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Conferma Password</ion-label>
        <ion-input type="password" [(ngModel)]="userDetails.confirmPassword" name="confirmPassword"></ion-input>
      </ion-item>
      <div padding>
        <ion-button type="submit" expand="block"  size="large"  color="reservation">Conferma</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>
