<ion-header>
	<ion-toolbar  color="reservation">
		<ion-buttons slot="start" >
			<ion-menu-button autoHide="false"></ion-menu-button>
		</ion-buttons>
    <ion-title>Recupera password</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="recovery()">
    <p *ngIf="error" style="text-align: center">{{error.message}}</p>
    <ion-list>
      <!--
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="userDetails.username" autocorrect="off" autocapitalize="none" name="username"></ion-input>
      </ion-item>
  -->
  <div padding style="text-align: center;">
      <p>Inserisci il tuo indirizzo mail. Ti invieremo una comunicazione con le istruzioni per il recupero della password.</p>
    </div>
     

      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input type="email"  placeholder="E-mail" [(ngModel)]="userDetails.email" name="email"></ion-input>
      </ion-item>
<br/>
      <div padding>
        <ion-button type="submit" shape="round"  expand="block" size="large"  color="reservation">Conferma</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>
