<ion-header>
  <ion-navbar>
    <ion-title>Recupera Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (submit)="recovery()">
    <p *ngIf="error" style="text-align: center">{{error.message}}</p>
    <ion-list>
      <!--
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="userDetails.username" autocorrect="off" autocapitalize="none" name="username"></ion-input>
      </ion-item>
  -->
  <div padding text-center>
      <p>Inserisci il tuo indirizzo mail. Ti invieremo una comunicazione con le istruzioni per il recupero della password.</p>
    </div>
     

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" [(ngModel)]="userDetails.email" name="email"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block>Conferma</button>
      </div>

    </ion-list>
  </form>
</ion-content>
