<ion-header>
  <ion-toolbar  color="reservation">
    <ion-buttons slot="start" (click)="backPage()">
			<ion-icon name="chevron-back-outline"></ion-icon>
		</ion-buttons>
    <ion-title>I tuoi servizi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="AddService()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <div    style="margin-top:45px; text-align: center;">
  <p>Clicca sul servizio per visualizzare il dettaglio</p>
  </div>
  <ion-list>
    <ion-item  lines="full" type="button" *ngFor="let item of service_list" (click)="updateTask(item)">  
      {{item.Name}} 
    	<ion-icon  slot="end" name="chevron-forward-outline"></ion-icon>
       </ion-item>
   </ion-list>

</ion-content>
