<ion-header [translucent]="true">
	<ion-toolbar mode="md|ios" color="reservation">
		<ion-buttons slot="start">
			<ion-menu-button autoHide="false"></ion-menu-button>
		</ion-buttons>
    <ion-title>{{beautyDetail.Name}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 25px;">
    <img *ngIf="beautyDetail.Photo" width="180" height="180" class="imgstyle" [src]="display(beautyDetail.Photo)">    
    <img *ngIf="!beautyDetail.Photo" width="180" height="180" class="imgstyle" src="../../assets/logoBarbiere.png" />
  </div>
  
  <ion-list>
    <ion-item>
      {{beautyDetail.Description}}
    </ion-item>
    <ion-item>
      <ion-icon name="location-outline"></ion-icon>
      {{beautyDetail.Indirizzo}}
    </ion-item>
    <ion-item>
      <ion-icon name="document-text-outline"></ion-icon>
      {{beautyDetail.FiscalCode}}
    </ion-item>
   </ion-list> 
   <ion-row style="height: 10px"></ion-row>  
   <div class="ion-text-center">
    <h3>Orari di apertura</h3>    
  </div>
   <ion-list >
     <ion-item *ngFor="let hour of beautyDetail.hours" style="height: 35px;">
      <p >
        {{hour}}        
      </p>
     </ion-item>
   </ion-list>
 
</ion-content>
<ion-footer>
  <p>

    <ion-button *ngIf="beautyDetail.isActive" expand="full" class="shadow-red" shape="round" color="danger" type="submit" size="large"  (click)="Update(beautyDetail)">Disattiva</ion-button> 
    <ion-button *ngIf="!beautyDetail.isActive" expand="full" class="shadow-red" shape="round" color="success" type="submit"  size="large"  (click)="Update(beautyDetail)">Attiva</ion-button> 
    </p>
</ion-footer>

