
   .bg-primary{
    background-color: #387ef5;
}

.bg-light{
    background-color: #f5f7fc !important;
    }

    .imgstyle{
        display: block;
        margin: auto;
        height:  50%;        
        width: 100%;
        border: 1px solid #000;        
        box-shadow: 0 0 2px #000;
    }