<ion-header [translucent]="true">
	<ion-toolbar >
		<ion-buttons slot="start">
			<ion-menu-button autoHide="false"></ion-menu-button>
		</ion-buttons>
    <ion-title>{{beautyDetail.Name}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="display(beautyDetail.Photo)">
  <ion-item>
    {{beautyDetail.Description}}
  </ion-item>
  <ion-item>
    {{beautyDetail.Indirizzo}}
  </ion-item>
  <ion-item>
    <ion-label>Selezione il servizio da prenotare</ion-label>
    <ion-select class="custom-options" (ionChange)="optionsFn();" [(ngModel)]="service">
      <ion-select-option  *ngFor="let item of beautyDetail.Service" [value]="item.Id">{{ item.Name }}</ion-select-option>    
    </ion-select>
  </ion-item>
  <ion-calendar [(ngModel)]="date"
  (change)="onChange($event)"
  [options]="optionsRange"
  [type]="type"  
  [format]="'YYYY-MM-DD'">
</ion-calendar>
<ion-button expand="full" fill="solid" (click)="VerficaDisponibilita()">Verifica la disponibilità</ion-button>


<ion-grid >
<ion-row>
  <ion-col  col-33 *ngFor="let post of resultList; let i=index"   >
    <button ion-button block  [disabled]="post.worstations <= 0"  (click)="addEvent(i, $event)"  
    [ngClass]="buttonValue ===  i ? 'bg-primary' : 'bg-light'"   value="{{post.Id}}">{{post.hour}}</button>
   </ion-col>
</ion-row>
</ion-grid> 
<ion-button *ngIf="enabledPrenota===1" expand="full" fill="solid" (click)="Prenota()">Prenota</ion-button>

</ion-content>
