<ion-header>
	<ion-toolbar color="reservation">
		<ion-buttons slot="start" >
			<ion-menu-button  autoHide="false"></ion-menu-button>
		</ion-buttons>
    <ion-title>Accedi</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="login()">
    <br/>
    <ion-list>
<ion-item>
  <ion-icon name="person-outline"></ion-icon>  
  <ion-input [(ngModel)]="loginDetails.username" placeholder="Email"  pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"  type="email" autocorrect="off" name="username">
     
  </ion-input>
</ion-item>
<ion-item>
  <ion-icon name="key-outline"></ion-icon>
  <ion-input type="password"  [(ngModel)]="loginDetails.password" placeholder="Password" autocorrect="off" name="password"> 
    
  </ion-input>
</ion-item>
<br/>
<div padding  style="text-align: center;">
  <ion-button type="submit" expand="block" shape="round"  size="large"  color="reservation">Login</ion-button>
</div>
    </ion-list>
    <div padding  style="text-align: center;" >
      <p><a (click)="recovery()">Hai dimenticato la password?</a></p>
    </div>

    <div padding  style="text-align: center;">
      <p>Non hai ancora un account? <a (click)="signup()">Creane uno.</a></p>
    </div>

  </form>
</ion-content>
