<ion-header [translucent]="true">
	<ion-toolbar color="reservation">
		<ion-buttons slot="start">
			<ion-menu-button autoHide="false"></ion-menu-button>
		</ion-buttons>
    <ion-title>le mie prenotazioni</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
<ion-list *ngIf="myBookingList.length > 0" >
  <button ion-button [class]='!isExpirationExpired(post) ? "bg-danger" : "bg-primary"' expand="full" fill="solid" (click)="openModal(post.Id)"  *ngFor="let post of myBookingList" [disabled]="!isExpirationExpired(post)" >
    <p >{{ post.DateReservation | date: 'dd/MM/yyyy' }} - {{post.Disponibilita.Hour}}</p>
  </button  >
</ion-list>
<ion-grid *ngIf="myBookingList.length == 0" style="height: 100%">
  <ion-row  justify-content-center align-items-center class="centerMsg">
    <ion-icon ios="ios-thumbs-down" md="md-thumbs-down"></ion-icon>
    <ion-icon ios-thumbs-down-outline name="thumbs-down-outline" style="zoom:2.0;"></ion-icon>
    </ion-row>
  <ion-row  justify-content-center align-items-center  class="centerMsg">
    
      Nessuna prenotazione trovata!
    </ion-row>
  </ion-grid>





</ion-content>
