
   .bg-primary{
    background-color: #6cc070;
    width: 100%;
    color: white
}

.bg-danger{
    background-color: #aa2918 !important;
    width: 100%;
    color: white
    }
    .centerMsg{
        margin-left: auto;  
        display: block;
        text-align: center;
        margin-bottom: 50px; 
        margin-top: 50px;
        margin-right: auto; 
        flex-direction: column;
    }