
   .bg-primary{
    background-color: #387ef5;
}

.bg-danger{
    background-color: #aa2918 !important;
    }
    .centerMsg{
        margin-left: auto;  
     display: block;
     text-align: center;
  margin-bottom: 50px; 
   margin-top: 50px;
     margin-right: auto; 
     flex-direction: column;
    }