<ion-header [translucent]="true">
	<ion-toolbar color="reservation">
		<ion-buttons slot="start" >
			<ion-menu-button autoHide="false"></ion-menu-button>
		</ion-buttons>
    <ion-title>Registrati</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content>
  <!--<div text-center class="logo">
    <img src="assets/ionic-aws-logo.png" />
  </div>-->

  <form (submit)="signup()">

    <p *ngIf="error" style="text-align: center">{{error.message}}</p>
    <ion-list>
 <ion-item >
      <ion-label>Sei un commerciante?</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="userDetails.isChecked" name="isChecked"></ion-checkbox>
    </ion-item>
      <ion-item>
        <ion-icon name="person-outline"></ion-icon>
        <ion-input type="text" [(ngModel)]="userDetails.username" maxlength="10"  placeholder="Username" autocorrect="off" autocapitalize="none" name="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input type="email" placeholder="E-mail" [(ngModel)]="userDetails.email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="key-outline"></ion-icon>
        <ion-input type="password" placeholder="Password"  [(ngModel)]="userDetails.password" name="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="key-outline"></ion-icon>
        <ion-input type="password"  placeholder="Conferma Password" [(ngModel)]="userDetails.confirmPassword" name="confirmPassword"></ion-input>
      </ion-item>

      <ion-item *ngIf="userDetails.isChecked">
        <ion-icon name="business-outline"></ion-icon>
        <ion-input type="text" [(ngModel)]="userDetails.bussinessName" placeholder="Ragione Sociale" name="businessName"></ion-input>
      </ion-item>

      <ion-item *ngIf="userDetails.isChecked" >
        <ion-icon name="document-text-outline"></ion-icon>
        
        <ion-input type="text" [(ngModel)]="userDetails.vatNumber" placeholder ="Codice Fiscale/P. IVA"  name="vatNumber" maxlength="16"></ion-input>
      </ion-item>
<br />
      <div padding>
        <ion-button type="submit" shape="round"  expand="block"  size="large" color="reservation" >Registra</ion-button>
      </div>
      <div padding style="text-align: center;">
        <p><a (click)="login()">Sei registrato ? Accedi</a>
      </div>

    </ion-list>
  </form>
  
  
</ion-content>
